td, tr, th {
  text-align: center;
  border: solid 3px black;
  height: 40px;
  background-color: #e5fcc2;
  font-size: 10pt;
  padding: 8px;
}

form {
  width: 95%;
  margin: auto;
  padding: 19px;
  background-color: #45ada8;
  border: solid 3px black;
  border-radius: 5px;
  font-size: 14pt;
}

body {
  font-family: fjalla one;
  background-color: #547980;
}

#page-header {
  background-color: #45ada8;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
  font-family: lobster;
  font-size: 46pt;
  margin-bottom: 50px;
}

#submit-form {
  background-color: #e5fcc2;
}

#output-container {
  margin: auto;
  width: 95%;
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: #45ada8;
  border: solid 3px black;
  border-radius: 5px;
  padding: 20px;
  display: none;
}

#word {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

#word-output {
  font-size: 40pt;
}

#weight {
  text-align: center;
  border: solid 3px black;
  margin: 15px;
  margin-top: 30px;
  padding: 10px 20px 0 20px;
  font-size: 14pt;
  border-radius: 25px;
  background-color: #e5fcc2;
}

#elements-list-header {
  font-size: 14pt;
  font-weight: bold;
}

#close-modal {
  background-color: #e5fcc2;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  max-width: 350px;
}

.modal-content {
  background-color: #45ada8;
}

.modal h4 {
  margin-bottom: 20px;
  text-align: center;
}
